upstream test {
    {% for addr in upstream_conf %}
    server {{ addr }};
    {% endfor %}
}

server {
    listen {{ ansible_default_ipv4.address }}:80;
    listen [::]:80;
    server_name {{ item.server_name }};
    root /var/www/{{ item.document_root }};
    index index.html;
    try_files $uri /index.html;
}